{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Aoi Site owner - Admin panel</title>    
    
    <!-- Bootstrap Core CSS -->
    <link href="{% static "bower_components/bootstrap/dist/css/bootstrap.min.css" %}" rel="stylesheet">          
    <link href="{% static "bower_components/jquery.terminal/css/jquery.terminal.css" %}" rel="stylesheet">          

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->        

</head>

<body>

<div id="term"></div>

	<!-- jQuery -->
    <script src="{% static "bower_components/jquery/dist/jquery.js" %}"></script>    
    
    <!-- Bootstrap Core JavaScript -->
    <script src="{% static "bower_components/bootstrap/dist/js/bootstrap.min.js" %}"></script>

    <!-- Terminal -->
    <script src="{% static 'bower_components/jquery.terminal/js/jquery.terminal-min.js' %}"></script>

    <script type="text/javascript">
    $('#term').terminal(function(command, term) {
	    	$.getJSON("{% url 'tutorial' %}?cmd=" + command, function(data){
	    		console.log(data);
	    		term.echo(data.output);
	    	});		    
		}, {
			greetings: 'Git Interactive tutorial\n\n',
			prompt: '> ',
			name: 'git' });
    </script>

</body>